<h1>
  <%= @card.name %>
</h1>
<h3>
  Class: <%= @card.klass %> <br>
  Attack: <%= @card.attack %> <br>
  Health: <%= @card.health %> <br>
  Cost: <%= @card.cost %> <br>
  Noble Phantasm: <%= @card.noble_phantasm %> <br>
</h3>
